<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipe Book</title>
</head>
<body>
    {% if selected_recipe %}
        <h1>{{ selected_recipe.name }}</h1>
        <ul>
            {% for ingredient in selected_recipe.ingredients %}
                <li>{{ ingredient.name }}: {{ ingredient.quantity }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>Recipe Book</h1>
        <ul>
            {% for recipe in recipes %}
                <li>
                    <a href="{{ recipe.link }}">{{ recipe.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>